data
test
.tmp
*.log
*._log
*.aux
*_aux
*synctex
*synctex.gz
*project.vim
*.out
*.pdf
*.nav
*.toc
*.swp
*.csv
*.xlsx
**/named-figure/*
**/.ipynb_checkpoints/*
*.fls
*.snm
*.latexrun.db
*.latexrun.db.lock
*.pptx
*.png
